@import 'nib'
@import 'https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic';
//font-family: 'Roboto', sans-serif;
@import 'https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700&subset=cyrillic';
//font-family: 'PT Serif', serif;

*
	box-sizing border-box
.clearfix
	clearfix()          
body
	font-family 'PT Serif', serif
	color #000
	font-size 17px
	background #fff
	position relative
	max-width 1920px
	min-width 320px
	padding 0
	margin 0
	clearfix()
*
	box-sizing border-box
a
	text-decoration none
img
	max-width 100%
h1,h2,h3,h4,h5,h6
	font-weight normal
	margin 0
	
.wrap
	width 88.5%
	margin 0 auto
	clearfix()
header
	background url("../images/main-bg.png") no-repeat 100% 15% / contain
.top-line
	clearfix()
	padding-top 35px
	.logo
		float left
		a
			font-size 30px
			color #6b6b6b
	nav
		text-align center
		padding-top 12px
		ul
			display inline-block
			padding 0
			margin 0
			li
				list-style-type none
				display inline-block
				a
					font-size 15px
					color #000
					padding 0 7%
					transition 0.3s
					font-family: 'Roboto', sans-serif;
					&:hover
						color #e9366c
						text-decoration underline
		a.cb
			color #40bc98
			font-size 17px
			border-bottom 1px dashed #40bc98
			margin-left 3.4%
			&:hover
				border-bottom 0
	.top-phone
		float right
		div
			font-weight 700
			font-size 30px
			margin-bottom 5px
		span
			font-style italic
			color #686868
.main-line
	padding-top 70px
	clearfix()
	.main-title
		float left
		max-width 32%
		position relative
		.slogan
			margin-bottom 40px
			h1
				font-size 60px
				margin 0
			span
				font-style italic
				font-size 33px
				color #6b6b6b
		p
			color #7f7f7f
			font-style italic
			margin 0
		.common-price
			margin-top 30px
			font-style italic
			font-size 25px
			b
				color #e9366c
		&:after
			display block
			content url("../images/man.png")
			position absolute
			top -50px
			right -90%
	.main-form
		float right
		width 537px
		height 462px
		background #f7f7f7
		border 1px solid #e8e8e8
		border-radius 5px
		z-index 2
		position relative
		padding 30px 35px
		.title
			font-size 25px
		form
			display block
			margin 20px 0
			.form-field
				clearfix()
				&:not(:last-child)
					margin-bottom 10px
				&:last-child
					padding-left 155px
				.field-name
					float left
					width 155px
					font-size 15px
					color #5f5f5f
					text-align right
					padding-right 12px
					line-height 44px
				.field-input
					float left
					width 293px
					input,
					select
						display block
						height 44px
						background #fff
						border-radius 2px
						outline none
						border 1px solid #cbcbcb
						padding-left 15px
					input.type-input						
						width 100%
					input.date-range
						float left
						width 142px
						&:first-child
							margin-right 9px
					select
						width 142px
						-webkit-appearance none
						background url("../images/select-arrow.png") no-repeat 90% center, #fff
				input.send-btn
					width 178px
					height 41px
					line-height 40px
					border-radius 5px
					background #e9366c
					text-align center
					cursor pointer
					transition 0.3s
					font-size 14.26px
					font-family: 'Roboto', sans-serif;
					font-weight 900
					border none
					color #fff
					display block
					margin 15px 0 20px 0
					&:hover
						background #b71d4c
					&+span
						font-style italic
						color #686868
section.open-rooms
	margin-top 80px
	.wrap
		padding-bottom 100px
		.open-rooms-title
			position relative
			width 100%
			clearfix()
			&:after
				display block
				position absolute
				top 25px
				width 100%
				right 0
				height 1px
				background #d0d0d0
				content ""
				z-index -1
			div
				background #fff
				font-style italic
				font-size 33px
				padding-right 25px
				float left
		.room-types
			clearfix()
			width 85%
			margin 90px auto 0
			.room-item
				width 25%
				float left
				position relative
				padding-left 45px
				&:last-child
					padding-left 75px
				.places-type
					position absolute
					top 0
					left 0
					font-size 60px
				.places
					font-size 33px
					padding-top 12px
					color #6b6b6b
					font-style italic
					margin-bottom 10px
				.places-count
					color #020202
					font-style italic
					border-bottom 1px solid #a6b8b6
					display inline-block
				.places-price
					font-style italic
					color #e9366c
section.work-stat
	margin-bottom 120px
	background url('../images/bg2.png') no-repeat left center
	.wrap
		.title
			text-align center
			font-size 60px
			line-height 120px
			background url("../images/title-bg.png") no-repeat center
			margin-bottom 200px
			b
				color #e9366c
		.stat
			font-size 33px
			font-style italic
			padding-left 29%
			b
				color #e9366c
section.advantages
	.wrap
		.adv-line
			clearfix()
			margin-bottom 30px
			.adv-item
				position relative
				width 20%
				float left
				text-align center
				padding-top 90px
				img
					display block
					position absolute
					top 0
					left 50%
					transform translateX(-50%)
				div
					color #515151
					max-width 165px
					margin 0 auto
.more-btn
	text-align center
	position relative
	&:after
		display block
		position absolute
		top 20px
		width 100%
		right 0
		height 1px
		background #d0d0d0
		content ""
		z-index -1
	.btn-container
		display inline-block
		padding 0 65px
		background #fff
		a
			display inline-block
			line-height 40px
			border-radius 5px
			background #e9366c
			text-align center
			cursor pointer
			transition 0.3s
			font-size 14.26px
			font-family: 'Roboto', sans-serif;
			font-weight 900
			color #fff
			padding 1px 24px
			&:hover
				background #b71d4c
section.hostel-photos
	padding-top 75px
	.wrap
		h2
			font-size 33px
			font-style italic
			margin-bottom 35px
			text-align center
		.photos-line
			margin-bottom 35px
			clearfix()
			.item-photo
				overflow hidden
				width 20%
				float left
				position relative
				img
					display block
					width 100%
				&:hover
					.photo-description
						bottom 0
				.photo-description
					position absolute
					bottom -100%
					left 0
					width 100%
					height 100%
					padding 45% 5% 0
					background rgba(0,0,0,.5)
					transition 0.5s
					.room-type
						font-style italic
						color #fff
						display inline-block
						border-bottom 1px solid #a6b8b6
					.room-price
						font-weight 700
						font-style italic
						color #e9366c
						margin-top 5px
						margin-bottom 10px
					a
						font-size 14.26px
						color #fff
						cursor pointer
						transition 0.3s
						border-radius 5px
						background #e9366c
						font-family 'Roboto', sans-serif
						font-weight 400
						padding 2% 5%
						&:hover
							background #b71d4c
section.response
	.response-wrap
		padding 80px 0
		max-width 850px
		margin 0 auto
		h3
			font-size 59px
			&+span
				font-style italic
				color #020202
		.response-slider
			padding 40px 0 0 120px
			position relative
			margin-top 70px
			&:before
				display block
				content url("../images/bag.png")
				position absolute
				top 0
				left -25px
			.response-item
				clearfix()
				.author-photo
					float left
					width 207px
					min-height 100%
					margin-right 30px
					position relative
					padding-top 20px
					z-index 1
					img
						display block
						width 100%
				.response-container
					font-style italic
					float left
					max-width 490px
					.response-data
						&:after
							display block
							content ''
							clear both
						.author
							font-size 33px
							position relative
							float left
						.date
							font-size 14.26px
							color #e9366c
							float left
							margin-left 15px
							font-style normal
							font-family 'Roboto', sans-serif
					.response-text
						margin 20px 0
						color #7f7f7f
footer
	.wrap
		border-top 3px solid #d0d0d0
		.footer-wrap
			max-width 1050px
			margin 0 auto
			padding 45px 0
			clearfix()
			.footer-mail,
			.worktime
				float left
				color #8d8d8d
				font-family 'Roboto', sans-serif
				padding 15px 0
			.footer-mail
				float left
				text-align right
			.worktime
				float right
			.adress
				text-align center
				.phone
					font-weight 700
					font-size 30px
					margin-bottom 5px
				.location
					font-style italic
					color #686868
section.breadcrumbs
	.wrap
		.nav-links
			a,
			span
				font-size 13px
				font-family 'Roboto', sans-serif
				color #e9366c
				text-decoration underline
				&.current
					text-decoration none
					color #000
				&:hover
					text-decoration none
				&:not(:last-child)
					&:after
						content '/'
						display inline-block
						margin 0 5px
						color #000
						text-decoration none
section.rooms
	.wrap
		h1
			margin 70px 0 40px 0
			font-size 60px
		.rooms-container
			padding-left 100px
			.room
				position relative
				margin-bottom 100px
				.room-type
					font-size 33px
					font-weight 700
					color #40bc98
					border-bottom 1px solid #afafaf
					margin-bottom 20px
				.room-data
					clearfix()
					.about-room
						float left
						clearfix()
						.room-preview
							float left
							width 418px
							margin-right 35px
							img
								display block
								width 100%
						.room-equip
							float left
							margin-right 75px
							.title
								font-size 25px
								margin-bottom 20px
							ul
								padding 0
								margin 0
								width 365px
								li
									list-style-type none
									position relative
									background url("../images/dot.png") repeat-x 10% 75%
									clearfix()
									&:before
										position absolute
										top 10px
										left 0
										width 6px
										height 6px
										border-radius 50%
										background #e9366c
									// &:after
									// 	display block
									// 	// width 100%
									// 	// height 1px
									// 	content ""
									// 	border-bottom 1px dashed #7f7f7f
									div
										font-style italic
										color #7f7f7f
										background #fff
										&:first-child
											float left
											padding-left 15px
											padding-right 5px
										&:last-child
											float right
											padding-left 5px
									&:not(:last-child)
										margin-bottom 10px
						.info
							float left
							clearfix()
							.additional-info
								max-width 418px
								padding-top 55px
								margin-bottom 80px
								.title
									font-style italic
									display inline-block
									border-bottom 1px solid #a6b8b6
								p
									font-size 15px
									color #444444
									margin 5px 0 0 0
									font-style italic
							.room-price
								.price
									clearfix()
									margin-bottom 15px
									span
										font-size 25.05px
										margin-right 20px
									b
										font-size 30px
										font-weight 700
										color #e9366c
										font-style italic
								.order-room
									clearfix()
									a
										font-family "Roboto", sans-serif
										font-weight 900
										cursor pointer
										transition 0.3s
										border-radius 5px
										color #fff
										background #e9366c
										padding 11px 12px
										margin-right 15px
										display block
										float left
										&:hover
											background #b71d4c
									span
										font-style italic
										color #686868
					.room-status
						margin-top 45px
						float left
						div
							padding-top 70px
							max-width 140px
						.open
							background url("../images/open-tag.png") no-repeat left top	
				
					