@import 'nib'

@font-face {
	font-family: "ProximaLight";
	src: url("../fonts/proxima/proximanova-light.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Proxima";
	src: url("../fonts/proxima/proximanova-regular.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaBold";
	src: url("../fonts/proxima/ProximaNova-Bold.ttf") format("truetype"),
		 url("../fonts/proxima/proximanova-bold.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaSemiBold";
	src: url("../fonts/proxima/proximanova-semibold.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

*
	box-sizing border-box
.clearfix
	clearfix()
html
	position relative
	height 100%	          
body
	// font-family: "ProximaBold";
	font 16px Georgia, sans-serif
	color #353535
	background #f9f4f0
	position relative
	max-width 1920px
	min-width 320px
	padding 0
	margin 0
	clearfix()
*
	box-sizing border-box
a
	text-decoration none
img
	max-width 100%