<!DOCTYPE html>
html(lang="ru-en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	link(rel="stylesheet", href="css/style.css")
	title Волжский | О волжском
body
	header.inner
		.wrap
			.top-line
				.mobile-menu
					img(src="images/burger.png", alt="")
				.top-phone
					div 8 (917) 509-50-50
					span.
						г. Москва, Волжский бульвар,<br>  дом 37, корпус 1
				.logo
					a(href="/") Логотип
				nav
					.close-nav
						img(src="images/close-btn.png", alt="")
					ul
						li
							a(href="#") Главная
						li
							a(href="#") О хостеле
						li
							a(href="#") Галерея
						li
							a(href="#") Преимущества
						li
							a(href="#") Комнаты
						li
							a(href="#") Контакты
					a(href="#" class="cb") Вам перезвонить?
	section.breadcrumbs
		.wrap
			.nav-links
				a(href="#") Главная
				span.current Комнаты
	section.content
		.wrap
			h1 О “Волжском”
			article
				.subtitle Как все начиналось
				p.
					Исторически, хостелы — это некий симбиоз европейских апартаментов, русских доходных домов и американских мотелей, которые ещё сотни лет назад предлагали непривередливым путешественникам недорогое место для ночёвки.
					Первый хостел в сегодняшнем значении этого слова был основан в начале XX века, в 1909 году, в Германии. Однажды школьный учитель по имени Рихард Ширманн решил по выходным вывозить своих учеников за город. Школьники были из бедных семей, ночевать где-то за деньги не представлялось возможным. Ночевали в местных школах — всё равно в выходные и на каникулах они пустовали. Постепенно в голове Ширманна сформировалась идея недорогого размещения для молодёжи, которое работало бы на постоянной основе. Первый такой хостел учитель обустроил прямо в школе, в которой работал. Вечером Ширманн с несколькими учениками выносили из классов парты и стулья, а на полу укладывали мешки с соломой. Рано утром гости помогали учителю вынести эти импровизированные койки и расставить обратно парты и стулья. Со временем первый хостел переехал в замок Алтена. Там он, между прочим, существует до сих пор.
				figure
					img(src="images/about1.png", alt="")
					figcaption.
						2014 г. начало работ над хостелом “Волжский”
				.subtitle Удобное расположение и развитая инфраструктура
				p.
					Исторически, хостелы — это некий симбиоз европейских апартаментов, русских доходных домов и американских мотелей, которые ещё сотни лет назад предлагали непривередливым путешественникам недорогое место для ночёвки.
					Первый хостел в сегодняшнем значении этого слова был основан в начале XX века, в 1909 году, в Германии. Однажды школьный учитель по имени Рихард Ширманн решил по выходным вывозить своих учеников за город. Школьники были из бедных семей, ночевать где-то за деньги не представлялось возможным.
				p.
					Исторически, хостелы — это некий симбиоз европейских апартаментов, русских доходных домов и американских мотелей, которые ещё сотни лет назад предлагали непривередливым путешественникам недорогое место для ночёвки.
					Первый хостел в сегодняшнем значении этого слова был основан в начале XX века, в 1909 году, в Германии. Однажды школьный учитель по имени Рихард Ширманн решил по выходным вывозить своих учеников за город. Школьники были из бедных семей, ночевать где-то за деньги не представлялось возможным. Ночевали в местных школах — всё равно в выходные и на каникулах они пустовали. Постепенно в голове Ширманна сформировалась идея недорогого размещения для молодёжи, которое работало бы на постоянной основе. Первый такой хостел учитель обустроил прямо в школе, в которой работал. Вечером Ширманн с несколькими учениками выносили из классов парты и стулья, а на полу укладывали мешки с соломой. Рано утром гости помогали учителю вынести эти импровизированные койки и расставить обратно парты и стулья. Со временем первый хостел переехал в замок Алтена. Там он, между прочим, существует до сих пор.
				figure
					img(src="images/about2.png", alt="")
					figcaption.
						Инфраструктура вокруг “Волжского” - мечта любого туриста
				.subtitle Еще тематический заголовок и фото (текста и фото может быть ско
				p.
					Исторически, хостелы — это некий симбиоз европейских апартаментов, русских доходных домов и американских мотелей, которые ещё сотни лет назад предлагали непривередливым путешественникам недорогое место для ночёвки.
					Первый хостел в сегодняшнем значении этого слова был основан в начале XX века, в 1909 году, в Германии. Однажды школьный учитель по имени Рихард Ширманн решил по выходным вывозить своих учеников за город. Школьники были из бедных семей, ночевать где-то за деньги не представлялось возможным. 
				figure
					img(src="images/about3.png", alt="")
					figcaption.
						Тематическая подпись фотографии

	footer
		.wrap
			.footer-wrap
				.footer-mail.
					Наша электропочта:<br> xamic@mail.ru
				.worktime.
					График работы: с 8.00 до 23.00<br> (без выходных)
				.adress
					.phone 8 (917) 509-50-50
					.location.
						г. Москва, Волжский бульвар,<br> дом 37, корпус 1
	script(src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous")
	script(src="js/jquery.fancybox.js")
	script(src="js/datedropper.min.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/main.js")
