<!DOCTYPE html>
html(lang="ru-en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	link(rel="stylesheet", href="css/style.css")
	title Волжский | Преимущества
body
	header.inner
		.wrap
			.top-line
				.mobile-menu
					img(src="images/burger.png", alt="")
				.top-phone
					div 8 (917) 509-50-50
					span.
						г. Москва, Волжский бульвар,<br>  дом 37, корпус 1
				.logo
					a(href="/") Логотип
				nav
					.close-nav
						img(src="images/close-btn.png", alt="")
					ul
						li
							a(href="#") Главная
						li
							a(href="#") О хостеле
						li
							a(href="#") Галерея
						li
							a(href="#") Преимущества
						li
							a(href="#") Комнаты
						li
							a(href="#") Контакты
					a(href="#" class="cb") Вам перезвонить?
	section.breadcrumbs
		.wrap
			.nav-links
				a(href="#") Главная
				span.current Комнаты
	section.content
		.wrap
			h1 Преимущества:
			.adv-line
				.adv-item
					img(src="images/adv1.png", alt="")
					div.
						Интернет, ТВ,  стиральная машина,  холодильники
				.adv-item
					img(src="images/adv2.png", alt="")
					div.
						Своя парковка
				.adv-item
					img(src="images/adv3.png", alt="")
					div.
						Наличие охраны и пропускной режим
				.adv-item
					img(src="images/adv4.png", alt="")
					div.
						Развитая  инфраструктура
				.adv-item
					img(src="images/adv5.png", alt="")
					div.
						Наличие систем видеонаблюдения и пожарной безопасности
			.more-advantages
				div А также:
				ul
					li.
						Гражданство заселяемых - любое
					li.
						Минимальное кол-во заселяемых - от 1 человека
					li.
						Наличие регистрации - регистрация ФМС (платная/бесплатная)
					li.
						Минимальная стоимость места при заезде от 50 человек - 300 руб.
					li.
						Наличие женских мест/блоков - есть
					li.
						Минимальный срок заселения - от 1 дня
					li.
						Инфраструктура - магазины, торговые центры, банки, почта в шаговой доступности.
					li.
						Сервис - интернет, ТВ, стиральная машина, холодильники
					li.
						Оборудование объекта - места общего пользования кухня, телевизор, комната приёма пищи, холодильники, столовая
						прачечная, сушилка, гладильная, платёжный терминал, теннисный стол
					li.
						Округ и район расположения общежития ЮВАО
					li.
						Хостел - отдельно стоящее здание
					li.
						Смена белья каждые 15 дней
			img(src="images/girl.png", alt="")
	footer
		.wrap
			.footer-wrap
				.footer-mail.
					Наша электропочта:<br> xamic@mail.ru
				.worktime.
					График работы: с 8.00 до 23.00<br> (без выходных)
				.adress
					.phone 8 (917) 509-50-50
					.location.
						г. Москва, Волжский бульвар,<br> дом 37, корпус 1
	script(src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous")
	script(src="js/jquery.fancybox.js")
	script(src="js/datedropper.min.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/main.js")
