<!DOCTYPE html>
html(lang="ru-en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="css/style.css")
	title Волжский | Главная
body
	header
		.wrap
			.top-line
				.logo
					a(href="/") Логотип
				.top-phone
					div 8 (917) 509-50-50
					span.
						г. Москва, Волжский бульвар,<br>  дом 37, корпус 1
				nav
					ul
						li
							a(href="#") Главная
						li
							a(href="#") О хостеле
						li
							a(href="#") Галерея
						li
							a(href="#") Преимущества
						li
							a(href="#") Комнаты
						li
							a(href="#") Контакты
					a(href="#" class="cb") Вам перезвонить?
			.main-line
				.main-title
					.slogan
						h1 Хостел «Волжский»
						span - здесь можно переночевать!
					p.
						Здесь общий текст о хостеле — это некий симбиоз европейских 
						апартаментов, русских доходных домов и американских 
						мотелей, которые ещё сотни лет назад предлагали непри
						вередливым путешественникам недорогое место для 
						ночёвки.Первый хостел в сегодняшнем значении этого 
						слова был основан в начале
					.common-price.
						Стоимость комнаты:<br>  от <b>180</b> до <b>250</b> руб
				.main-form
					.title Забронировать место
					form(action="mail.php")
						.form-field
							.field-name Ваше имя:
							.field-input
								input(type="text" placeholder="Константин" class="type-input" required)
						.form-field
							.field-name Ваш тел:
							.field-input
								input(type="text" placeholder="+7 (495) 324-65-90" class="type-input" required)
						.form-field
							.field-name Кол-во человек:
							.field-input
								select(name="guest-count")
									option(value="1") 1
									option(value="2") 2
									option(value="3") 3
									option(value="4") 4
						.form-field
							.field-name Время пребывания:
							.field-input
								input(type="text" class="date-range")
								input(type="text" class="date-range")
						.form-field
							input(type="submit" class="send-btn" value="Оставить заявочку")
							span.
								Мы вам перезвоним и уточним все нюансы
	section.open-rooms
		.wrap
			.open-rooms-title
				div Сейчас свободно: <i id="open-rooms">34</i> места
			.room-types
				.room-item
					.places-type 4
					.places местные
					.places-count Количество: 8 номеров
					.places-price 450 руб/сутки
				.room-item
					.places-type 6
					.places местные
					.places-count Количество: 12 номеров
					.places-price 400 руб/сутки
				.room-item
					.places-type 8
					.places местные
					.places-count Количество: 3 номера
					.places-price 350 руб/сутки
				.room-item
					.places-type 10
					.places местные
					.places-count Количество: 4 номеров
					.places-price 300 руб/сутки
	section.work-stat
		.wrap
			.title Мы работаем с <b>2014</b> года!
			.stat.
				С момента открытия хостела “Волжский”<br> мы разместили <b>2370</b> человек!
	section.advantages
		.wrap
			.adv-line
				.adv-item
					img(src="images/adv1.png", alt="")
					div.
						Интернет, ТВ,  стиральная машина,  холодильники
				.adv-item
					img(src="images/adv2.png", alt="")
					div.
						Своя парковка
				.adv-item
					img(src="images/adv3.png", alt="")
					div.
						Наличие охраны и пропускной режим
				.adv-item
					img(src="images/adv4.png", alt="")
					div.
						Развитая  инфраструктура
				.adv-item
					img(src="images/adv5.png", alt="")
					div.
						Наличие систем видеонаблюдения и пожарной безопасности
			.more-btn
				.btn-container
					a(href="#") Ещё преимущства!
	section.hostel-photos
		.wrap
			h2 Фото “Волжского” изнутри
			.photos-line
				.item-photo
					img(src="images/hostel-photo1.png", alt="")
					.photo-description
						.room-type 10 - ти местный номер
						.room-price 400 руб/сутки
						a(href="#") Подробнее
				.item-photo
					img(src="images/hostel-photo2.png", alt="")
					.photo-description
						.room-type 10 - ти местный номер
						.room-price 400 руб/сутки
						a(href="#") Подробнее
				.item-photo
					img(src="images/hostel-photo3.png", alt="")
					.photo-description
						.room-type 10 - ти местный номер
						.room-price 400 руб/сутки
						a(href="#") Подробнее
				.item-photo
					img(src="images/hostel-photo4.png", alt="")
					.photo-description
						.room-type 10 - ти местный номер
						.room-price 400 руб/сутки
						a(href="#") Подробнее
				.item-photo
					img(src="images/hostel-photo5.png", alt="")
					.photo-description
						.room-type 10 - ти местный номер
						.room-price 400 руб/сутки
						a(href="#") Подробнее
			.more-btn
				.btn-container
					a(href="#") Смотреть все фото!
	section.response
		.response-wrap
			h3 Спасибо за ваши отзывы!
			span.
				Мы ценим каждого жителя, который поселился в нашем хостеле
			.response-slider
				.response-item
					.author-photo
						img(src="images/response-photo.png", alt="Виктория Николаева")
					.response-container
						.response-data
							.author Виктория Николаева
							.date.
								15 мая, 2016
						.author-spec Путешественница
						.response-text.
							Исторически, хостелы — это некий симбиоз европейских 
							апартаментов, русских доходных домов и американских 
							мотелей, которые ещё сотни лет назад предлагали непри
							вередливым путешественникам недорогое место для 
							ночёвки.Первый хостел в сегодняшнем значении этого 
							слова был основан в начале
	footer
		.wrap
			.footer-wrap
				.footer-mail.
					Наша электропочта:<br> xamic@mail.ru
				.worktime.
					График работы: с 8.00 до 23.00<br> (без выходных)
				.adress
					.phone 8 (917) 509-50-50
					.location.
						г. Москва, Волжский бульвар,<br> дом 37, корпус 1

