<!DOCTYPE html>
html(lang="ru-en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	link(rel="stylesheet", href="css/style.css")
	title Волжский | Комнаты
body
	header.inner
		.wrap
			.top-line
				.mobile-menu
					img(src="images/burger.png", alt="")
				.top-phone
					div 8 (917) 509-50-50
					span.
						г. Москва, Волжский бульвар,<br>  дом 37, корпус 1
				.logo
					a(href="/") Логотип
				nav
					.close-nav
						img(src="images/close-btn.png", alt="")
					ul
						li
							a(href="#") Главная
						li
							a(href="#") О хостеле
						li
							a(href="#") Галерея
						li
							a(href="#") Преимущества
						li
							a(href="#") Комнаты
						li
							a(href="#") Контакты
					a(href="#" class="cb") Вам перезвонить?
	section.breadcrumbs
		.wrap
			.nav-links
				a(href="#") Главная
				span.current Комнаты
	section.content
		.wrap
			h1 Комнаты
			.rooms-container
				.room
					.room-type 4 - х местные номера
					.room-data
						.about-room
							.room-preview
								img(src="images/rooms-photo.png", alt="")
								a(href="#" class="all-photos") Смотреть все фото в галерее
							.room-equip
								.title Мебель и техника:
								ul
									li
										div Кровать 2-х ярусная
										div 2 шт.
									li
										div Санузел (общий/в номере).
										div 1 шт.
									li
										div Телевизор
										div 1 шт.
									li
										div Холодильник
										div 1 шт.
									li
										div Шкаф для одежды
										div 1 шт.
									li
										div Шкаф для посуды
										div 1 шт.
									li
										div Сушилка
										div 1 шт.
									li
										div Тумбочка прикроватная
										div 2 шт.
									li
										div Стол
										div 2 шт.
									li
										div Стул или табурет
										div 4 шт.
							.info
								.additional-info
									.title Нюансы
									p.
										Здесь можно добавить дополнительную
										информацию о номере, например, что это
										самая светлая комната в хостеле или
										что окна выходят во двор или на красную
										линию.. Или какие-то преимущества или
										скидки и акции. Все в текстовом виде.
								.room-price
									.price 
										span Стоимость койки / места:
										b 450 руб/сутки
									.order-room
										a(href="#") Оставить заявочку
										span Мы вам перезвоним и уточним все нюансы
						.room-status
							.open Сейчас свободно: 25 мест
				.room
					.room-type 4 - х местные номера
					.room-data
						.about-room
							.room-preview
								img(src="images/rooms-photo.png", alt="")
								a(href="#" class="all-photos") Смотреть все фото в галерее
							.room-equip
								.title Мебель и техника:
								ul
									li
										div Кровать 2-х ярусная
										div 2 шт.
									li
										div Санузел (общий/в номере).
										div 1 шт.
									li
										div Телевизор
										div 1 шт.
									li
										div Холодильник
										div 1 шт.
									li
										div Шкаф для одежды
										div 1 шт.
									li
										div Шкаф для посуды
										div 1 шт.
									li
										div Сушилка
										div 1 шт.
									li
										div Тумбочка прикроватная
										div 2 шт.
									li
										div Стол
										div 2 шт.
									li
										div Стул или табурет
										div 4 шт.
							.info
								.additional-info
									.title Нюансы
									p.
										Здесь можно добавить дополнительную
										информацию о номере, например, что это
										самая светлая комната в хостеле или
										что окна выходят во двор или на красную
										линию.. Или какие-то преимущества или
										скидки и акции. Все в текстовом виде.
								.room-price
									.price 
										span Стоимость койки / места:
										b 450 руб/сутки
									.order-room
										a(href="#") Оставить заявочку
										span Мы вам перезвоним и уточним все нюансы
						.room-status
							.close Свободных мест нет
				.room
					.room-type 4 - х местные номера
					.room-data
						.about-room
							.room-preview
								img(src="images/rooms-photo.png", alt="")
								a(href="#" class="all-photos") Смотреть все фото в галерее
							.room-equip
								.title Мебель и техника:
								ul
									li
										div Кровать 2-х ярусная
										div 2 шт.
									li
										div Санузел (общий/в номере).
										div 1 шт.
									li
										div Телевизор
										div 1 шт.
									li
										div Холодильник
										div 1 шт.
									li
										div Шкаф для одежды
										div 1 шт.
									li
										div Шкаф для посуды
										div 1 шт.
									li
										div Сушилка
										div 1 шт.
									li
										div Тумбочка прикроватная
										div 2 шт.
									li
										div Стол
										div 2 шт.
									li
										div Стул или табурет
										div 4 шт.
							.info
								.additional-info
									.title Нюансы
									p.
										Здесь можно добавить дополнительную
										информацию о номере, например, что это
										самая светлая комната в хостеле или
										что окна выходят во двор или на красную
										линию.. Или какие-то преимущества или
										скидки и акции. Все в текстовом виде.
								.room-price
									.price 
										span Стоимость койки / места:
										b 450 руб/сутки
									.order-room
										a(href="#") Оставить заявочку
										span Мы вам перезвоним и уточним все нюансы
						.room-status
							.open Сейчас свободно: 25 мест
				.room
					.room-type 4 - х местные номера
					.room-data
						.about-room
							.room-preview
								img(src="images/rooms-photo.png", alt="")
								a(href="#" class="all-photos") Смотреть все фото в галерее
							.room-equip
								.title Мебель и техника:
								ul
									li
										div Кровать 2-х ярусная
										div 2 шт.
									li
										div Санузел (общий/в номере).
										div 1 шт.
									li
										div Телевизор
										div 1 шт.
									li
										div Холодильник
										div 1 шт.
									li
										div Шкаф для одежды
										div 1 шт.
									li
										div Шкаф для посуды
										div 1 шт.
									li
										div Сушилка
										div 1 шт.
									li
										div Тумбочка прикроватная
										div 2 шт.
									li
										div Стол
										div 2 шт.
									li
										div Стул или табурет
										div 4 шт.
							.info
								.additional-info
									.title Нюансы
									p.
										Здесь можно добавить дополнительную
										информацию о номере, например, что это
										самая светлая комната в хостеле или
										что окна выходят во двор или на красную
										линию.. Или какие-то преимущества или
										скидки и акции. Все в текстовом виде.
								.room-price
									.price 
										span Стоимость койки / места:
										b 450 руб/сутки
									.order-room
										a(href="#") Оставить заявочку
										span Мы вам перезвоним и уточним все нюансы
						.room-status
							.open Сейчас свободно: 25 мест
				.room
					.room-type 4 - х местные номера
					.room-data
						.about-room
							.room-preview
								img(src="images/rooms-photo.png", alt="")
								a(href="#" class="all-photos") Смотреть все фото в галерее
							.room-equip
								.title Мебель и техника:
								ul
									li
										div Кровать 2-х ярусная
										div 2 шт.
									li
										div Санузел (общий/в номере).
										div 1 шт.
									li
										div Телевизор
										div 1 шт.
									li
										div Холодильник
										div 1 шт.
									li
										div Шкаф для одежды
										div 1 шт.
									li
										div Шкаф для посуды
										div 1 шт.
									li
										div Сушилка
										div 1 шт.
									li
										div Тумбочка прикроватная
										div 2 шт.
									li
										div Стол
										div 2 шт.
									li
										div Стул или табурет
										div 4 шт.
							.info
								.additional-info
									.title Нюансы
									p.
										Здесь можно добавить дополнительную
										информацию о номере, например, что это
										самая светлая комната в хостеле или
										что окна выходят во двор или на красную
										линию.. Или какие-то преимущества или
										скидки и акции. Все в текстовом виде.
								.room-price
									.price 
										span Стоимость койки / места:
										b 450 руб/сутки
									.order-room
										a(href="#") Оставить заявочку
										span Мы вам перезвоним и уточним все нюансы
						.room-status
							.open Сейчас свободно: 25 мест
			.callback-info
				div По всем вопросам обращайтесь:
				div тел.: 8 (917) 509-50-50
				div e-mail: xamic@mail.ru
	footer
		.wrap
			.footer-wrap
				.footer-mail.
					Наша электропочта:<br> xamic@mail.ru
				.worktime.
					График работы: с 8.00 до 23.00<br> (без выходных)
				.adress
					.phone 8 (917) 509-50-50
					.location.
						г. Москва, Волжский бульвар,<br> дом 37, корпус 1
	script(src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous")
	script(src="js/jquery.fancybox.js")
	script(src="js/datedropper.min.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/main.js")
